[MASTER]
extension-pkg-whitelist=pydantic

[FORMAT]
max-line-length=300

[MESSAGES CONTROL]
disable=
    broad-exception-caught,
    too-few-public-methods,
    too-many-instance-attributes,
    import-outside-toplevel,